body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

header {
    width: 100%;
    height: 3.5em;
    background-color: salmon;
}

header nav {
    height: 100%;
    align-items: center;
    display: flex;
}

.item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.item-list a {
    text-decoration: none;
    color: white;
}

.item-list li {
    justify-content: space-between;
    padding: 0 10px;
}

.item-list a:hover,
.item-list a:active,
.item-list a.active {
    color: rgb(13, 59, 0);
}